.green{
    background-color: #2E983B;
}

.dark-green{
    background-color: #16661B;
}

.landing-page-bg {
    background-image: url(/images/green-background-image.png);
    background-size: cover;
}