.green {
    background-color: #278C2E;
  }

  .light-green {
    background-color: #d2f7d5;
  }

.main-height {
    height: 100vh;
}

.footer-height {
    height: 10vh;
}

.dark-green{
    background-color: #16661B;
}

.dark-footer {
    background-color: #062601;
}

.landing-page-bg {
    background-image: url(/images/green-background-image.png);
    background-size: cover;
}

.header,
.header-landing {
    font-family: 'Rosa', serif;
}

.body-font {
    font-family: 'Urbanist', sans-serif;
}

.header {
    color: #16661B;
    font-size: 4rem;
}

.header-landing {
    color: #F8F9FA;
    font-size: 5rem;
}

.size-sm {
    width: 75px;
}

.nav-green {
    background-color: #2E983B;
}

.nav-dark {
    background-color: #2E983B;
}

.notification-red {
    border-radius: 25px;
    color: #F8F9FA;
    background-color: orangered;
}

@media (max-width: 500px) {

    .header {
      font-size: 3rem; 
    }
  }

.buttonMaster {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #278C2E;
    color: #F8F9FA;
    border: none;
    border-radius:6px;
    font-family: 'Urbanist', sans-serif;
    text-align: center;
    transition: 0.1s ease-in-out;
    letter-spacing: 1px;
    text-decoration: none;
}

.buttonMaster:hover {
    background-color: #16661B;

}
