.green{

    background-color: #278C2E;
}

.dark-green{
    background-color: #16661B;
}

.landing-page-bg {
    background-image: url(/images/green-background-image.png);
    background-size: cover;
}

.header,
.header-landing {
    font-family: 'Rosa', serif;
}

.body-font {
    font-family: 'Urbanist', sans-serif;
}

.header {
    color: #16661B;
    font-size: 4rem;
}

.header-landing {
    color: #F8F9FA;
    font-size: 5rem;
}

.size-sm {
    width: 75px;
}

.nav-green {
    background-color: #2E983B;
}

.nav-dark {
    background-color: #2E983B;
}

