.bg-pic {
  background-image: url(../public/images/lawncare.jpg);
  background-size: cover;
}

.card {
  width: 18rem;
}

.logo {
  background-image: url(/images/lawn-shark-logo-1000.png);
  background-size: contain;
  background-repeat: none;
}

.size {
  width: 100px;
}

.green {
  background-color: #278c2e;
}
